/* Tutor Cover-image */

.cover {
    position: relative;
    height: 500px;
}
.cover .cover-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
.cover .cover-image {
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 767px) {
    .cover {
        height: 250px;
    }
}

/* Tutor Name Tag */
.tutor-name-tag {
    display: inline-block;
    width: 160px;
    margin-top: -100%;
    height: 160px;
    background-size: cover;
    text-align-last: center;   
}
@media screen and (max-width: 767px) {
    .tutor-name-tag {
        display: inline-block;
        width: 121px;
        margin-top: -100px;
        height: 110px;
        text-align-last: center;
    }
}

/* Tutor Info */
.tutor-info {
    padding-bottom: 30px;
}
.tutor-info {
    width: 1000px;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .tutor-info {
        width: 100%;
    }
}
.tutor-info:after, .tutor-info:before {
    content: " ";
    display: table;
}

/* Tutor details */
.tutor-details {
    position: relative;
    margin-top: 12px;
    width: 100%;
    margin-right: 32px;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .tutor-details {
        width: 100%;
        margin-right: 0;
    }
}

/* Tutor Name */
.tutor-details .tutor-name {
    line-height: 34px;
    font-size: 34px;
    font-weight: 700;
    margin-top: 50%;
    color:#fff;
}
@media screen and (max-width: 767px) {
    .tutor-details .tutor-name {
        margin-top: 50%;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color:#fff;
    }
}
/* Tutor Introduction */
.tutor-intro {
    display: inline-block;
    padding: 0 2px;
    background: #8B0000;
    border: 1px solid #8B0000;
    border-radius: 5px;
    color: #fff;
    line-height: 22px;
    font-weight: 700;
    font-size: 18px;
    vertical-align: top;
}
@media screen and (max-width: 767px) {
    .tutor-intro {
        display: inline-block;
        padding: 0 2px;
        background: #8B0000;
        border: 1px solid #8B0000;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        margin-top: 5px;
        vertical-align: top;
    }
}
/* Tutor Content */
.tutor-content {
    margin-top: 20px;
    padding-bottom: 11px;
    text-align: justify;
    word-break: break-word;
    color: #666;
}
@media screen and (max-width: 767px)
.tutor-content {
    padding: 0;
}
/* Tutor Subject */
@media screen and (max-width: 767px) {
    .tutor-subjects .tutor-subject .detail {
        text-align: center;
        width: 270px;
        margin: auto;
        margin-top: 5px;
        white-space: inherit;
    }
}
.tutor-subjects .tutor-subject .detail {
    height: 18px;
    width: 420px;
    line-height: 24px;
    margin: auto;
    padding: 0 13px;
    text-align: left;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.tutor-details .tutor-subjects .tutor-subject .detail:first-child {
    border-left: none;
}
.tutor-subjects .tutor-subject .detail {
    display: inline-block;
    margin: auto;
    margin-top: 5px;
    padding: 0;
    width: 30px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #8B0000;
}
.tutor-subjects .tutor-subject .detail .highlight {
    color: #8B0000;
    vertical-align: middle;
}
/* Tutor Content Title*/

.tutor-content .about-tutor-title {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Tutor Content Heading */
.tutor-content h2 {
    font-size: 20px;
    display: inline-block;
}
.tutor-content h2, .tutor-content h3 {
    font-weight: 700;
    color: #343434;
}
@media screen and (max-width: 767px) {
    .tutor-content h2 {
        margin: 12px 0 9px;
    }
}

/* Tutor Content Paragraph */
.tutor-content p {
    margin-bottom: 10px;
    line-height: 22px;
}
@media screen and (max-width: 767px) {
    .tutor-content p {
        font-size: 14px;
    }
}

/* main */
.content .main {
    margin-top: -40px;
}
@media screen and (max-width: 767px) {
    .content .main {
        margin-top: -30px;
    }
}
@media screen and (max-width: 767px) {
    .main {
        padding: 0 9px;
    }
}
.tutor-info .tutor-intro .tutor-detail .detail .highlight {
    color: #8B0000;
}
/* Booking */
.booking a {
    width: 46%;
    display: inline-block!important;
    margin: 0 1%!important;
}
.booking a {
    border-radius: 20px;
}
.btn-booking {
    background: #8B0000;
    border: 1px solid #8B0000;
    color: #fff;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.booking {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    text-align: center;
    z-index: 10;
}
.btn-booking:hover {
    background: #ab4646;
    border: 1px solid #ab4646;
    color: #fff;
}